<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="table.js"></script>
    <title>Table</title>
    <script src="table.js"></script>

    <template id="vtable">
        <div>
            <h2 v-if='name'>{{name}}</h2>
            <table class="table table-striped">
                <tr>
                    <th v-for="col in header">
                        <a @click="sort_by(col)">{{col}}</a>
                        <span v-if="sort_key === col" class="glyphicon" :class="(sort_order === 'asc')? 'glyphicon-arrow-up' : 'glyphicon-arrow-down'"></span>
                        <span v-if="sort_key !== col" class="glyphicon glyphicon-arrow-up" style="opacity: 0.25"></span>
                    </th>
                </tr>
                <tr v-for="row in processed_data">
                    <td v-for="col in header">{{row[col]}}</td>
                </tr>
            </table>
        </div>
    </template>
</head>
<body>

<div id="app">
    <h1>{{title}}</h1>
    <vtable
            name="MyTable"
            :header="header"
            :rows="log"
    ></vtable>
</div>
</body>
</html>